.titre{
    text-align: center;
    background-color: darkred;
    color:white;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.all{
    background-color: darkgrey;
    height: 10%;
}

.doss{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: white;
    width: 20%;
}

.ok{
    background-color: darkred;
    width: 100%; 
}

.fich{
   color: white;
   width: 20%;
}

.corpsdoss{
    background-color: white;
    height: 96.5%;
    border:8px solid darkred;
}

.corpsfich{
    background-color: white;
    border: 8px solid darkred;
    height: 200px;

}

.intro{
    font-size: 120%;
    text-align: center;
    background-color: darkgrey;
    color: white;
    padding:0.5%;
}

